.main {
    width: 100%;
    margin-right: 20px;
}
.loadingUser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.loadingContact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.footerTabbleContact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.alert {
    position: absolute;
    bottom: 0;
    right: 0;
}