.main {
    margin-bottom: 30px;
}

.control {
    display     : flex;
    height      : 100%;
    align-items : center;
    padding-left: 20px;
    column-gap  : 20px;
}

.modalUploadFile {
    margin: 20px;
    height: 200px;

    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    color: rgb(133, 133, 133);
}