.main {
    overflow: hidden !important;

    display: flex !important;
}

.navigation {
    width : 63px !important;
    height: calc(100vh - 40px) !important;

    margin       : 20px !important;
    border-radius: 15px !important;

    background-color: #F36823 !important;

    display        : flex !important;
    flex-direction : column !important;
    justify-content: space-between !important;

    position: fixed !important;
}

.mainNav {
    width: 100% !important;

    display        : flex !important;
    flex-direction : column !important;
    justify-content: space-between !important;
}

.logo {
    width : 40px !important;
    height: 40px !important;

    background-color: white !important;
    border-radius   : 50% !important;

    margin: 14px auto 0 !important;
}

.body {
    width : 100% !important;
    height: (100vh - 40px) !important;

    margin: 20px !important;

    padding-left: 100px !important;
}

.nav {
    width: 100% !important;

    display       : flex !important;
    flex-direction: column !important;
    align-items   : center !important;

    margin-top: 50px !important;
}

.activeNav {
    position        : relative !important;
    background-color: rgba(255, 255, 255, 0.411) !important;
}

.itemNav {
    width: 100% !important;
}

.itemNav a {
    display        : flex !important;
    justify-content: center !important;
    width          : 100% !important;
    padding        : 15px 0 !important;
}

.tooltip {
    width : 100% !important;
    height: 100% !important;
}

.logout {
    width          : 100% !important;
    display        : flex !important;
    justify-content: center !important;
    align-items    : center !important;

    margin-bottom: 20px !important;

    cursor: pointer !important;
}