.main {
    width       : 100%;
    margin-right: 20px;
}

.title {
    margin: 0;
}

.loading {
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}