.main {
    width: 100%;
    margin-right: 20px;
}
.form {
    height : 100%;
    padding: 16px 20px;
}

.textManage {
    line-height  : 21px;
    margin       : 0;
    margin-bottom: 6px;
    padding-left : 3px;
}
.alert {
    position: absolute;
    bottom: 0;
    right: 0;
}